body {
    background-color: #e9edf9;
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 100%;

    .main-header {
        display: flex;
        height: auto;
        margin: 0 auto;
        width: 100%;

        .main-header-container {
            display: flex;
            flex: 0 0 980px;
            height: 100px;
            margin: 0 auto;
            max-width: 980px;

            .mhc-logo-box {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                position: relative;
                width: 20%;

                img {
                    position: absolute;
                    z-index: 1;
                }

                .mhc-purple-box {
                    background-color: #6722C6;
                    border-radius: 255px;
                    height: 310px;
                    position: absolute;
                    transform: rotate(-45deg);
                    top: -110px;
                    right: -120px;
                    width: 500px;
                    z-index: 0;
                }
            }

            .mhc-navigator-box {
                display: flex;
                margin: 0 auto;
                width: 50%;

                .mhc-navigator-box-ul {
                    align-items: center;
                    display: flex;
                    list-style: none;
                    justify-content: space-between;
                    margin: 0 auto;
                    padding: 0;
                    width: 100%;

                    a {
                        color: #6722C6;
                        text-decoration: none;

                        li {
                            font-family: 'Helvetica';
                        }
                    }
                }
            }
        }
    }

    .main-home {
        display: flex;
        height: auto;
        margin: 0 auto;
        position: relative;
        width: 100%;

        .main-home-container {
            display: flex;
            flex: 0 0 980px;
            flex-flow: wrap;
            margin: 0 auto;
            max-width: 980px;

            .mhc-banner-box {
                align-items: flex-end;
                display: flex;
                height: 400px;
                margin: 0 auto;
                width: 100%;

                .mhc-banner-box-side {
                    display: block;
                    margin: 0 auto;
                    width: 45%;

                    img {
                        width: 100%;
                    }

                    &:nth-child(1) {
                        align-items: flex-end;
                        display: flex;
                        flex-flow: wrap;
                    }
                }

                h1 {
                    color: #471a83;
                    font-family: 'Helvetica';
                    font-size: 2em;
                    margin-bottom: 0;
                }

                p {
                    color: #471a83;
                    font-size: 1.2em;
                    font-family: 'Helvetica';
                }
            }

            .mhc-blocks-box {
                align-items: flex-end;
                display: flex;
                flex: 0 0 100%;
                justify-content: space-around;
                margin: 3em auto;
                width: 100%;

                .mhc-blocks-box-items {
                    background-color: #fff;
                    box-shadow: 0 1px 6px rgba(194, 207, 227, 0.6);
                    border-radius: 10px;
                    height: 200px;
                    width: 30%;

                    h2 {
                        color: #6722c5;
                        font-family: 'Helvetica';
                        margin-bottom: 0;
                        text-align: center;
                    }

                    .mhc-blocks-box-items-txt {
                        color: #788293;
                        display: block;
                        font-family: 'Helvetica';
                        font-size: 1em;
                        text-align: center;
                        padding: 1em 2.5em;
                    }
                }
            }
        }
    }

    footer {
        align-items: center;
        background-color: #6722C6;
        color: #fff;
        display: flex;
        font-family: 'Helvetica';
        height: 70px;
        justify-content: center;
        overflow: hidden;
        position: relative;

        .main-footer-floating-box {
            background-color: #4affc4;
            height: 200px;
            position: absolute;
            right: -150px;
            transform: rotate(-45deg);
            width: 400px;
        }
    }
}
